@model IEnumerable<Reservation>

    <h1>Reservation requests</h1>

<table class="table">
    <thead>
        <tr>
            <th width="20%">
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.ReservedDate)
            </th>
            <th width="10%">
                Vip room
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.NumberOfPeople)
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.TableNumber)
            </th>
            <th width="20%">
                <a href="@Url.Action("MakeDecision","Main", new {allApproved = true, requestType = "Reservation"})" class="btn btn-success" onclick="askBefore(event)">Approve all</a>
                <a href="@Url.Action("MakeDecision","Main", new {allDeclined = true, requestType = "Reservation"})" class="btn btn-danger" onclick="askBefore(event)">Cancel all</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Viproom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TableNumber)
                    </td>
                    <td>
                        <a href="@Url.Action("MakeDecision","Main", new { rid = item.ReservationId, requestType = "Reservation", approved = true})" class="btn btn-success"><i class="fas fa-check"></i></a>
                        <a href="@Url.Action("MakeDecision","Main", new { rid = item.ReservationId, requestType = "Reservation"})" class="btn btn-danger"><i class="fas fa-times"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function askBefore(e){
            if(!confirm("Are you sure to make all decision?")){
                e.preventDefault();
            }
        }
    </script>
}