@model IEnumerable<AdlezRestaurant.Core.Models.DishType>

<table class="table">
    <thead>
        <tr>
            <th width="10%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="80%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th width="10%">
                <a onclick="showInPopup('@Url.Action("CreateOrEdit", "DishTypes", null, Context.Request.Scheme)','Dish type')" class="btn btn-success text-light"><i class="fas fa-plus-square"></i> New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a style="color: blue; cursor: pointer; float: left; margin-right: 40px;" onclick="showInPopup('@Url.Action("CreateOrEdit", "DishTypes", new{id = @item.DishTypeId}, Context.Request.Scheme)','Dishe type')"><i class="fas fa-edit"></i></a>
                    <form asp-action="Delete" asp-route-id="@item.DishTypeId" onsubmit="return JqueryAjaxDelete(this)" class="d-inline">
                        <button type="submit" style="border-top-style: hidden;border-bottom-style: hidden;border-left-style: hidden;border-right-style: hidden; outline: none; color: red; background-color: transparent;"><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
